body { font: 400 1em/1.5 "Neuton"; background: #191516; color: rgba(255,255,255,.25); text-align: center; margin: 0 }

h1 {
  background-color: #4C4E4D;
  text-align: left;
  color: #FBFBFB;
  margin-top: 0%;
  padding-left: 20px;
}

.line {
    fill: none;
    stroke: #03F7EB;
    stroke-width: 4px;
  }

.line-deaths {
  fill: none;
    stroke: #43FF43;
    stroke-width: 4px;
}

.covid-his-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-x-axis, .line-y-axis {
  color: #C9DAEA;
}


.history-description {
  height: 50px;
  width: 600px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s;
  color: #C9DAEA;
  font-family: Courier, monospace
}

.hide {
  opacity: 0 !important;
}

.count {
  margin: 0;
  position: relative;
  left: -450px;
  top: 100px;
}

.count span{
  font-weight: bold;
  color: #03F7EB;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
 }
 
 @keyframes fadeInOpacity {
  0% {
   opacity: 0;
  }
  100% {
   opacity: 1;
  }
 }

h2 {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  color: #ab2346;
}
